* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --primry-color: #2d4059;
  --sconde-color: #f3f4f6;
  --main-color: #ea5455;
  --primry-padding-top: 150px;
  --primry-animation: 0.8s;
  --primry-transition: 0.8s;
}

body {
  margin: 0;
  font-family: "Cairo", sans-serif;
}

html {
  overflow-x: hidden;
}

html,
body {
  scroll-behavior: smooth;
  direction: rtl;
  text-align: right;
}
ul {
  list-style: none;
  text-decoration: none;
}
a {
  cursor: pointer;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: 0 0 10px #add inset;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, var(--primry-color), #f3f4f6b5, #4e46e5aa);
  border-radius: 10px;
  background-size: 300% 300%;
  animation: scrollber 1s ease-in-out infinite;
}

::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(
    45deg,
    var(--primry-color),
    var(--sconde-color),
    var(--main-color)
  );
}

.contener {
  padding-bottom: 15px;
  padding-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: var(--primry-transition) ease;
}

.fade-in-scaleX {
  transform: scaleX(0);
}

.fade-in-right {
  opacity: 0;
  transform: translatex(100px);
  transition: var(--primry-transition) ease;
}

.fade-in-left {
  opacity: 0;
  transform: translatex(-100px);
  transition: var(--primry-transition) ease;
}

.fade-in-top {
  opacity: 0;
  transform: translatey(-100px);
  transition: var(--primry-transition) ease;
}

.show {
  opacity: 1;
  transform: translate(0, 0);
  transform: scaleX(1);
}

.collr-one {
  background-image: linear-gradient(
    45deg,
    var(--main-color),
    #030304,
    var(--primry-color)
  );
}

.color {
  background-color: #000000;
  padding-bottom: 10px;
}

.head-list {
  width: max-content;
  margin: 0 auto;
  color: var(--sconde-color);
  letter-spacing: 2.7px;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 30px;
}

.head-p {
  margin: 10px auto;
  color: var(--sconde-color);
  font-size: larger;
  font-weight: 100;
  padding-bottom: 50px;
  text-align: center;
}

/* Slider Controls */
.sider,
.sidel {
  position: absolute;
  bottom: -75px;
  background-color: rgb(255 255 255 / 12%);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
  margin-top: 30px;
  transition: all var(--primry-transition) ease;

  &:hover {
    background-color: rgba(255, 255, 255, 0.241);
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.241);
  }
}

.sider {
  left: 200px;
}
.sidel {
  right: 200px;
  z-index: 2025;
}

.side-right {
  z-index: 2005;
  font-size: 23px;
  cursor: pointer;
  color: var(--main-color);
}
.side-left {
  z-index: 2005;
  font-size: 23px;
  cursor: pointer;
  color: var(--primry-color);
  pointer-events: all;
}

.prent-header {
  position: sticky;
  top: 0;
  z-index: 999999;
  transition: all var(--primry-transition) ease;
}
